section,
article {
  margin-bottom: 3em;
}

section > :last-child,
article > :last-child {
  margin-bottom: 0;
}

section:last-child,
article:last-child {
  margin-bottom: 0;
}

blockquote {
  margin: 0;
  padding: 0;
  border: none;
  font-style: normal;
}

footer {
  margin-top: 1em;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container.small {
  width: 900px;
}

.container.big {
  width: 100%;
  max-width: 1500px;
  min-width: 1200px;
}

.image {
  display: inline-block;
}

.image img {
  display: block;
  width: 100%;
}

.image.featured {
  display: block;
  width: 100%;
  margin: 0 0 2em 0;
}

.image.full {
  display: block;
  width: 100%;
  margin-bottom: 2em;
}

.image.left {
  float: left;
  margin: 0 2em 2em 0;
}

.image.centered {
  display: block;
  margin: 0 0 2em 0;
}

.image.centered img {
  margin: 0 auto;
  width: auto;
}

.header {
  position: relative;
  background: $background;
}

.header .container {
  position: relative;
  padding: 4em 0em;
}